@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
}

* {
    padding: 0;
    margin: 0;
}

main {
    font-family: 'Ubuntu', sans-serif;
}

main ul {
    display: flex;
    align-items:center ;
    list-style: none;
    height: 65px;
    background-color: black;
    color: white;
}

main ul li {
    margin: 0 12px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.logo img {
    width: 44px;
    padding: 0 10px;
}

.container {
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    background-image: url(bg.jpg);
    background-size: cover;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    bottom: 0;
}

.icons {
    margin-top: 10px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 80%;
    background-color: white;
    color: black;
    border-radius: 15px;
    margin-top: 10px;
}

.songItem img {
    width: 22px;
    margin: 0 10px;
    border-radius: 30px;
}

.songPlay {
    margin: 0 10px;
    cursor: pointer;
}

.songItemList {
    margin-top: 30px;
}

.songInfo img{
    width: 40px;
    opacity: 0;
    transition: 0.5s ease-in;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}